body {
  margin: 0;
  margin: 0;
	background-image: url('../files/bread.jpeg');
  background-size: cover;
  font-family: cursive;
}


.nav-bar {
  background-color: #882222;
}

.nav-bar a:hover {
  background: #13232f !important;
}

.active {
  background-color: #13232f;
  color: white;
}

.container {
  grid-gap: 20px;
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
}

h1 {
  color: #000;
}

.grid-show {
  margin-top: 10px;
}

.box {
  margin: 20px 40px;
  display: inline-block;
  flex-direction: column;
  width: 300px;
  height: 360px;
  padding-top: 20px;
  cursor: pointer;
  border:  none;
  border-radius: 10px;
  background-color: #D52F2F;
  justify-content: center;
  align-items: center;

}

.top-div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}


.cart-button {
  padding: 10px 20px;
  background: #13232f;
  opacity: 0.90;
  outline: none;
  border-radius: 5px;
  margin-right: 20px;
  color: #ddd;
}

.cart-button:hover {
  opacity: 1;
  cursor: pointer;
}

.cart-button > a {
  color: #fff;
}

.box > p {
  background: #ccc;
  height: 50px;
}



.box > img {
  max-width: 100%;
  height: 200px;;
}


.btn {
  width: 60%;
  padding: 10px 5px;
  outline: none;
  background: #13232f;
  color: #ddd;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 1px 3px #888888;
  opacity: 0.9;
  margin-top: 10px;
}

.btn:hover, .submit:hover {
  cursor: pointer;
  opacity: 1;
}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.footer {
  background: #882222; 
}
