
.sign-up {
  min-height: 100%;
}

.signup-box {
  width: 40%;
  margin: 5% 30% 5% 30%;
  height: 800px;
  background: #13232f;
  opacity: 0.95;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-sizing: border-box;
  color: #ddd;
  text-align: center;
  padding: 40px 20px;
}

.signup-box p {
  font-size: 0.8em;
}

.signup-box input {
  width: 100%;
  margin-bottom: 15px;
}

.signup-box input[type="text"], input[type="password"], input[type="email"] {
  border: none;
  border-bottom: 2px solid #ddd;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
}

.signup-box > form > a {
  text-decoration: none;
  padding: 10px 100px;
  border: none;
  outline: none;
  height: 40px;
  background: #882222;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  opacity: 0.70;
  box-shadow: 1px 3px #888888
}

.signup-box > form > a:hover {
  opacity: 1;
  cursor: pointer;
}

.signup-box > form > a:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.signup-box a {
  color: gray;
}



/*EDITED MEDIA QUERIES SECTION*/
@media (max-width: 768px) {

	.signup-box {
		width: 95%;
		margin: 5% 2.5% 0 2.5%;
		height: 900px;
	}

	.signup-box p {
		font-size: 0.6em;
	}
}

@media (max-width: 1200px) and (min-width: 769px) {


	.signup-box {
		width: 90%;
		margin: 5% 5% 0 5%;
		padding: 80px 20px;
		height: 1000px;
	}
}